@font-face {
    font-family: riffic;
    src: url("../font/riffic.ttf");
}

* {
    padding: 0;
    margin: 0 auto;
    color: white;
    font-family: riffic;
}

.title-main {
    font-size: 46pt;
}

.title-alt {
    font-size: 28pt;
}

body {
    width: 100%;
    min-height: 100dvh;
    background-color: #001220;
    background-image: url('../img/background.svg');
    background-size: cover;
}

.center {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    text-align: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.link div {
    font-size: 16pt;
    text-transform: uppercase;
    border: solid white;
    margin: 0;
    font-weight: bolder;
    padding: 6pt;
    cursor: pointer;
}

.link div:hover {
    background-color: #004060;
}